$theme-show-notifications: false;
$hero-bg: "ink";
$hero-header: "yellow-20v";

$theme-color-primary-lighter: 'yellow-10';
$theme-color-primary-light: 'yellow-30';
$theme-color-primary: 'yellow-60v';
$theme-color-primary-vivid: 'yellow-60v';
$theme-color-primary-dark: 'yellow-70v';
$theme-color-primary-darker: 'yellow-80v';