<section class="usa-banner" aria-label="NOT an official website of Harvey Mudd College">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">This is NOT an official website of Harvey Mudd College</p>
          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        </div>
        <button class="usa-accordion__button usa-banner__button"
          aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <div class="usa-media-block__body">
            <p>
              <strong>Official websites use hmc.edu</strong>
              <br/>
              A <strong>hmc.edu</strong> website belongs to Harvey Mudd College.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>