---
layout: page
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---
<div class="text-thin">
  <small>
    {% if page.author %}by {{page.author}} on {% endif %}
    <time datetime="{{ page.date | date: '%F' }}">
      {{ page.date | date: '%a, %b %e, %Y' }}
    </time>
  </small>
</div>
<div class="grid-row">
  <div class="grid-col-fill"></div>
  <div class="grid-col-auto">
    {{ content }}
    {% if page.tags %}
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          {% for tag in page.tags %}
            <a href="/tags/{{ tag }}" class="usa-button usa-button--outline">{{ tag }}</a>
          {% endfor %}
        </li>
      </ul>
    {% endif %}
  </div>
  <div class="grid-col-fill"></div>
</div>
<br>
{% if page.comments %}
  <div id="disqus_thread" class="pt-2 pb-2"></div>
  <script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
{% endif %}
{% if site.related_posts %}
  <hr>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col">
      <h3 class="site-preview-heading">Related Posts</h3>
      <ul class="usa-card-group">
        {% for post in site.related_posts limit: 3 %}
          {% include post-card.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
