---
layout: page
main:
  class: usa-grid usa-section usa-content usa-layout-docs
---
<div class="text-thin">
  <small>
    {% if page.author %}by {{page.author}} on {% endif %}
    <time datetime="{{ page.date | date: '%F' }}">
      {{ page.date | date: '%a, %b %e, %Y' }}
    </time>
  </small>
</div>
<div class="grid-row">
  <div class="grid-col-fill"></div>
  <div class="grid-col-auto">
    {{ content }}
    {% if page.tags or page.categories %}
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          {% for category in page.categories %}
            <a href="/categories/{{ category }}" class="usa-button usa-button--outline">{{ category }}</a>
          {% endfor %}
          {% for tag in page.tags %}
            <a href="/departments/{{ tag }}" class="usa-button usa-button--outline">{{ tag }}</a>
          {% endfor %}
        </li>
      </ul>
    {% endif %}
  </div>
  <div class="grid-col-fill"></div>
</div>
<br>
{% if site.related_posts %}
  <hr>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col">
      <h3 class="site-preview-heading">Related Posts</h3>
      <ul class="usa-card-group">
        {% for post in site.related_posts limit: 3 %}
          {% include post-card.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
